# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [5]:
import pandas as pd

In [6]:
import numpy as np

In [7]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [109]:
df.columns = df.columns.str.lower().str.replace(" ", "_")

In [111]:
df.shape

(4008, 11)

In [113]:
df.head()

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [115]:
df.tail()

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [117]:
df.sample(10)

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
1263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1383,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,SM52139,WA,NaN,College,293069.35%,33663.0,73.0,1/0/00,Personal Auto,Four-Door Car,350.4
1786,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [119]:
df.dtypes

customer                      object
st                            object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

- CLV should be float
- Number of Open Complaints should be int

In [121]:
df.nunique()

customer                     1071
st                              8
gender                          5
education                       6
customer_lifetime_value      1027
income                        774
monthly_premium_auto          132
number_of_open_complaints       6
policy_type                     3
vehicle_class                   6
total_claim_amount            761
dtype: int64

In [123]:
# 5 categorical columns

cat_cols = ["st", "gender", "education", "policy_type", "vehicle_class"]

for column in cat_cols:
    print(column, df[column].unique()) # print all the unique values in cetagorical columns

st ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
gender [nan 'F' 'M' 'Femal' 'Male' 'female']
education ['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
policy_type ['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
vehicle_class ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

Insight 1: # regarding categorical columns
- "st" and "gender" need to be fixed, almost all categories are doubled but spelled differently (i.E. Cali-California, F-Femal-female), also goes for Bachelor-Bachelors in "Education"

In [126]:
# 3 numerical columns

num_cols = ["income", "monthly_premium_auto", "total_claim_amount"]

for column in num_cols:
    print(column, round(max(df[column])) - round(min(df[column]))) # calculate range

income 99960
monthly_premium_auto 35293
total_claim_amount 2893

Insight 2: # regarding numerical columns
- The range in "monthly_premium_auto" seems wrong (in the samples for now it seems that most premiums are a lot lower, there probably is a faulty entry somewhere)
- It also is unclear if the "total_claim_amount" was entered correctly (many digits after ".", maybe it was entered to separate 1.000 rather than for decimals? Needs to be analysed)

Insight 3: # regarding the columns which are not clearly either num or cat
- 3 unclear columns: "number_of_open_complaints", "customer_lifetime_value", "customer"
- The columns "number_of_open_complaints" and "customer_lifetime_value" theoretically are of numerical values,
yet i.e. the range cannot be calculated because the data is faulty (i.e. % sign in CLV and formatting in Complaints).
There has to be further insights in why the data was recorded like this and following that some manipulatoon to be able to perform analysis.
- The column "customer" is of no interest regarding its values as they only serve as identifier (like the index, so this column can maybe even be deleted later on, if it turns out true that the combination of letters and numbers is purely random).

Insight 4: # general
There seems to be a lot of missing data in the dataframe, lots of NaNs in all columns

In [130]:
# statistics for numerical columns

round(df.describe(), 2) # rounded to make it more clean

         income  monthly_premium_auto  total_claim_amount
count   1071.00               1071.00             1071.00
mean   39295.70                193.23              404.99
std    30469.43               1601.19              293.03
min        0.00                 61.00                0.38
25%    14072.00                 68.00              202.16
50%    36234.00                 83.00              354.73
75%    64631.00                109.50              532.80
max    99960.00              35354.00             2893.24

In [134]:
df["income"].mode()

0    0.0
Name: income, dtype: float64

In [136]:
df["monthly_premium_auto"].mode()

0    65.0
Name: monthly_premium_auto, dtype: float64

Conclusions:
- As observed before there is lots of missing data: only 1071 filled values in the three columns (out of 4008 rows in total)
- Something seems to be faulty in the "income" column: the std is more than 3/4 of the mean, also the mode is 0.0 which seems to be very unlikely, so probably 0.0 was entered even though NaN was meant
- Also, as observed before, here we find more evidence that some data in the "monthly_premium_auto" column might be wrong. The max (35354) seems awfully high compared to mode (65), median (83) and mean (193), the mean itself is a lot higher than mode and median which also hints at outlier(s). Taking into account the nature of the column, a mistake when entering the numbers seems close at hand.

In [139]:
# statistics for cat_cols

for column in cat_cols:
    print(df[column].value_counts())
    print("")

st
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

gender
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64

education
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: count, dtype: int64

policy_type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

vehicle_class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64

Conclusions:
- As sad before: Overlapping categories in all columns apart from "policy_type" and "vehicle_class"
- Before calculating % or the like, this needs to be fixed

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [142]:
location = df.st.value_counts().sort_values()

print(location[:5])

st
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [178]:
# policies_sold = df.policy_type.value_counts().to_list #.sort_values(ascending=False)
# policies_sold[0]

# policies_sold = df.policy_type.value_counts()
# print(column, max(policies_sold))
# print(policies_sold[0])

TypeError: 'method' object is not subscriptable

### Question
""" How to do this? How to you call a category? """

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [198]:
df.sample(5)

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
3285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
363,ES57969,Oregon,M,Bachelor,245357.08%,29735.0,69.0,1/0/00,Personal Auto,Four-Door Car,331.2
496,JC11405,Oregon,M,High School or Below,1096395.72%,55687.0,276.0,1/0/00,Personal Auto,Luxury SUV,1324.8
2145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [190]:
df.loc[df.policy_type == "Personal Auto"]["policy_type"]

0       Personal Auto
1       Personal Auto
2       Personal Auto
4       Personal Auto
5       Personal Auto
            ...
1065    Personal Auto
1066    Personal Auto
1067    Personal Auto
1068    Personal Auto
1070    Personal Auto
Name: policy_type, Length: 780, dtype: object

### Question
I don't understand what is meant by this "Calculate the average income for each policy."? the customer's income or the clv, so the company's income? Or the monthly premium for the car?
And how do I do any of this?

In [192]:
df.loc[df.policy_type == "Corporate Auto"]["policy_type"]

3       Corporate Auto
6       Corporate Auto
7       Corporate Auto
8       Corporate Auto
12      Corporate Auto
             ...
1045    Corporate Auto
1050    Corporate Auto
1052    Corporate Auto
1056    Corporate Auto
1059    Corporate Auto
Name: policy_type, Length: 234, dtype: object

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [206]:
df.total_claim_amount.describe()

count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: total_claim_amount, dtype: float64

In [268]:
claims_sorted = round(df.total_claim_amount.sort_values(ascending = False), 1)
claims_sorted

888     2893.2
248     2345.4
522     2027.7
196     1836.0
581     1577.7
         ...
4003       NaN
4004       NaN
4005       NaN
4006       NaN
4007       NaN
Name: total_claim_amount, Length: 4008, dtype: float64

In [270]:
type(claims_sorted)

pandas.core.series.Series

### Question
How to do this? This part: "Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile."

In [248]:
""" First try to retrieve the rows where the values are ibn the upper 25%: """
# high_claims = [claims ~ claims.quantile(.75)]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (720321398.py, line 1)

In [276]:
""" Getting the boolean True for the rows in which the values are in the upper 25%: """
high_claims = [claims_sorted > claims_sorted.quantile(.75)]
high_claims

[888      True
 248      True
 522      True
 196      True
 581      True
         ...
 4003    False
 4004    False
 4005    False
 4006    False
 4007    False
 Name: total_claim_amount, Length: 4008, dtype: bool]

In [294]:
""" Trying again to retrieve the "True"-rows this time with a loop and a condition """
#for i in high_claims:
    #if high_claims == True:
        #print(high_claims)

#high_claims

[888      True
 248      True
 522      True
 196      True
 581      True
         ...
 4003    False
 4004    False
 4005    False
 4006    False
 4007    False
 Name: total_claim_amount, Length: 4008, dtype: bool]